body {
	margin:0;
	padding:0
}

#header, #footer {
	width: 100%;
	text-align: center;
	color: #efefef;
	background-color: #111111;
}

#header {
	position: fixed;
	top: 0;
}

#footer {
	position: fixed;
	bottom: 0;
}

#error {
	background-color: #cccccc;	
	color: #ff0000;		
	font-weight: bold;
}

.addform {
	position: relative;
	left: 33px;
}

.idfield {
	width: 25px;
}

.field {
	width: 180px;
}